.products-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 14px;
}

.product-wrapper {
  display: grid;
  row-gap: 8px;
}

.product-img {
  height: 300px;
  width: auto;
}

.cta {
  font-size: 25px;
}
